* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 800px) {
    body {
      font-size: 13px; } }

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F3FFBD; }

.nav {
  position: absolute;
  top: 0;
  width: 100%; }
  .nav .logo {
    padding-top: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    color: #FF1654; }
    @media only screen and (max-height: 500px) {
      .nav .logo {
        color: #F3FFBD; } }
    .nav .logo__bold {
      font-weight: 900; }

.quotesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 600px;
  height: 300px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FF1654; }
  @media only screen and (max-height: 500px) {
    .quotesContainer {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      padding: 30px 30px 70px 30px; } }
  .quotesContainer .quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 10px;
    color: #fff;
    text-align: center; }
    .quotesContainer .quote .quote-text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 1.5em;
      font-weight: 300; }
      @media only screen and (max-height: 500px) {
        .quotesContainer .quote .quote-text {
          margin-top: 40px; } }
    .quotesContainer .quote .quote-footer {
      height: auto;
      margin-top: 10px; }
  .quotesContainer .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 50px; }
    .quotesContainer .menu .new_quote {
      height: 100%;
      width: 100px;
      background: transparent;
      color: #F3FFBD;
      border: 2px solid #F3FFBD;
      border-radius: 5px;
      font-weight: 400;
      font-size: 1em;
      transition: all 0.5s ease; }
      .quotesContainer .menu .new_quote:hover {
        background: #F3FFBD;
        color: #FF1654; }
    .quotesContainer .menu .share_twitt {
      width: 50px;
      height: 100%;
      background-color: #00aced; }
      .quotesContainer .menu .share_twitt__img {
        width: 100%;
        height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer__info {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 400;
    color: #808080; }
  .footer__link:hover {
    color: #FF1654; }
    @media only screen and (max-height: 500px) {
      .footer__link:hover {
        color: #F3FFBD; } }
