* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  border: none; }

a {
  text-decoration: none; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

.app {
  width: 100%;
  height: 100vh;
  background: #F3FFBD; }

.nav .logo {
  text-align: center;
  font-size: 5em;
  font-weight: 400;
  color: #FF1654; }
  .nav .logo__bold {
    font-weight: 900; }
