// *********************************
// Colors
// *********************************
$main-color: #F3FFBD;
$secondary-color: #FF1654;
$additional-color: #808080;
$twitter-color: #00aced;
$text-color: #fff;

// *********************************
// Font
// *********************************
$main-font: 'Lato', sans-serif;
