// *********************************
// Colors
// *********************************
$main-color: #F3FFBD;
$secondary-color: #FF1654;

// *********************************
// Font
// *********************************
$main-font: 'Lato', sans-serif;
